table {
    width: 100%;
  }
  
  .iconosAccion {
  margin: 3px;
  }
  .success-icon{
  color:green
  }
  .danger-icon{
  color:red
  }
  .pdf-icon{
  color:rgb(97, 74, 74)
  }
  
  .example-margin {
  margin: 0 10px;
  }
  

  
#colum{
    color: white;
    background-color:#2f4053;
    font-family: 'Roboto';
}


.mat-no-data-row {
  background-color: #f8d7da; 
  color: #721c24; 
}


.no-data-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}


.no-data-message mat-icon {
  margin-right: 8px;
  font-size: 20px;
  color: #721c24; 
}
