/* Incluir la fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Incluir otros estilos globales */
@import 'assets/css/app.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";




html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif !important; /* Aplicar Roboto a html y body */
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Aplicar Roboto a body */
}

.mat-header-cell, .mat-cell {
    font-family: 'Roboto', sans-serif; /* Aplicar Roboto a celdas de la tabla */
    text-align: center !important; /* Centrando el texto */
}

.mat-tooltip.tooltip {
    font-size: 12px;
}

.mat-error {
    font-size: 13px;
}

th.mat-header-cell {
    color: white;
    background-color: #2f4053;
}

.mat-row:hover {
    background-color: rgb(240, 239, 239);
}
