

<div class="container mt-4">
  <div class="row" style="background-color: transparent;">
    <div class="col-md-6 col-sm-12">
      <div class="card responsive-card">
        <div class="card-body" style="height: 100%;">
          <h1>Tomar Asistencia</h1>
          <div [formGroup]="tomarasistenciaForm">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Tomar asistencia por INE</mat-label>
              <input type="text"
                     placeholder="Busque empleado nombre - apellido - ine"
                     aria-label="Empleado"
                     matInput
                     formControlName="campoBusqueda"
                     [matAutocomplete]="auto"
                     (input)="buscarEmpleado($event)">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let empleado of sugerencias" [value]="empleado" (click)="seleccionarSugerencia(empleado)">
                  {{ empleado.nombres }} - {{ empleado.apellidos }} ({{ empleado.ine }})
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="scanner-container">
            <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event, action)" class="scanner"></ngx-scanner-qrcode>
            <p *ngIf="action.isLoading">⌛ Loading...</p>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <select #select1 (change)="action.playDevice(select1.value)" class="form-select form-select-md">
                <option [value]="null" selected>Ninguna</option>
                <option *ngFor="let c of action.devices.value; let i = index" [value]="c.deviceId" [selected]="i == action.deviceIndexActive">{{c.label}}</option>
              </select>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card responsive-card">
        <div class="card-body d-flex flex-column justify-content-between">

          <div class="clock" style="margin-top: 3px;">
            <div class="clock-face">
              <div class="digit">1</div>
              <div class="digit">2</div>
              <div class="digit">3</div>
              <div class="digit">4</div>
              <div class="digit">5</div>
              <div class="digit">6</div>
              <div class="digit">7</div>
              <div class="digit">8</div>
              <div class="digit">9</div>
              <div class="digit">10</div>
              <div class="digit">11</div>
              <div class="digit">12</div>
              <div class="hand hour-hand" [ngStyle]="{'transform': 'rotate(' + hourHandPosition + 'deg)'}"></div>
              <div class="hand minute-hand" [ngStyle]="{'transform': 'rotate(' + minuteHandPosition + 'deg)'}"></div>
              <div class="hand second-hand" [ngStyle]="{'transform': 'rotate(' + secondHandPosition + 'deg)'}"></div>
              <div class="center-point"></div>
            </div>
          </div>


          <div class="clock-digital" style="margin-top: -25px;">
            <span class="fecha">
              {{dateTime.year}}-{{dateTime.month}}-{{dateTime.day}} 
            </span>
            <span class="separator">|</span>
            <span class="hora">
              {{dateTime.hour}}:{{dateTime.minute}}:{{dateTime.second}}
            </span>
          </div>

          
        </div>
      </div>
    </div>
  </div>
</div>
